#Header {
  position: fixed;
  z-index: 10;
  min-width: var(--se-min-page-width);
  width: 100%;
  top: 0;
  left: 0;
  padding: 32px;
  @include flex-right;

  @include mobile {
    padding: 16px;
  }

  #Header-logo {
    margin-right: auto;
    img {
      width: 64px;
      box-shadow: 0 4px 8px 0 var(--se-black-transparent);

      @include mobile {
        width: 48px;
      }
    }
  }

  > ul .se-button {
    margin-right: 32px;
  }

  #Header-donate {
    margin-right: 8px;
  }
  #Header-menu-button {
    margin-left: 24px;

    #Header-menu-icon {
      font-size: 32px;
    }
  }

  .Header-link {
    opacity: 0.6;
    &.active {
      opacity: 1;
    }
    @include hover {
      opacity: 1;
    }
  }

  #Header-menu {
    position: fixed;
    z-index: 20;
    @include fade-in;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    background: var(--se-white);
    padding: 48px 32px;
    text-align: right;
    box-shadow: 0 0 32px 8px var(--se-black-transparent);

    @include mobile {
      padding: 34px 16px;
    }

    #Header-menu-button {
      #Header-menu-icon {
        color: var(--se-black);
      }
    }

    > ul {
      @include flex-vertical-right;
      .se-button {
        display: block;
        margin: 16px 0;
        font-size: 24px;
      }
    }
  }
}
