#Partners {
  @include page;

  .Partners-header-and-text {
    .se-image {
      width: 50%;
      @include mobile {
        width: 100%;
      }
    }
    .se-spacer {
      flex-shrink: 0;
    }
  }

  #Partners-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(192px, 1fr));
    gap: 64px;
    padding: 64px 0;

    @include mobile {
      gap: 32px;
      grid-template-columns: 1fr 1fr;
    }

    .Partners-logo {
      text-align: center;
      flex: 0 0 20%;

      .Partners-logo-img {
        width: 100%;
        flex-shrink: 0;
        object-fit: cover;

        @include mobile {
          min-width: 120px;
          width: 40vw;
        }
      }
    }
  }

  .Partners-background-wave-img {
    position: absolute;
    width: 100%;
    height: auto;
    margin-left: calc(-1 * max(96px, calc(50vw - 500px)));
    z-index: -10;

    @include mobile {
      height: 600px;
      width: 100vw;
      object-fit: cover;
      margin: auto;
    }
  }
}
