#Team {
  @include page;

  #Team-intro {
    .se-image {
      width: 50%;
      @include mobile {
        width: 100%;
        margin-bottom: 24px;
      }
    }
    .se-spacer {
      flex-shrink: 0;
    }
  }

  .Team-header-text {
    max-width: 592px;
    margin: auto;
  }

  .Team-small-header {
    font-size: 24px;
  }

  .Team-members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 64px;

    margin-bottom: 14%;
    @include mobile {
      gap: 32px;
    }

    .Team-person {
      text-align: center;
      flex: 0 0 20%;
      .subheader {
        font-weight: 700;
      }
      .se-image {
        width: 100%;
        flex-shrink: 0;
        border-radius: 50%;
        object-fit: cover;

        @include mobile {
          min-width: 120px;
          width: 40vw;
        }
      }
    }

    #Team-person-name {
      text-decoration: underline;
    }
  }

  .Team-testimonials {
    position: relative;

    li {
      text-align: left;
      margin-right: 16px;
      margin-bottom: 8px;
    }

    .se-spacer {
      flex-shrink: 0;
    }

    #Team-testimonial {
      width: 50%;
      position: relative;
      flex-shrink: 0;
      text-align: center;
      @include mobile {
        width: 80%;
      }

      #Team-testimonials-back {
        position: absolute;
        top: 50%;
        left: -32px;
        transform: translateY(-50%);
        background: none;
        opacity: 0.8;
        transition: opacity 0.1s ease;
        z-index: 10;
        height: 24px;
        width: 24px;
        border-radius: 50%;
        border: none;
        background: var(--se-green-primary);
        color: var(--se-white);
      }

      #Team-testimonials-next {
        position: absolute;
        top: 50%;
        right: -32px;
        transform: translateY(-50%);
        background: none;
        transition: opacity 0.1s ease;
        z-index: 10;
        height: 24px;
        width: 24px;
        border-radius: 50%;
        border: none;
        background: var(--se-green-primary);
        color: var(--se-white);
      }

      .carousel__dot {
        height: 8px;
        width: 8px;
        margin: 0 4px;
        border-radius: 50%;
        border: none;
        background: var(--se-green-light);
        padding: 0;

        &.carousel__dot--selected {
          background: var(--se-green-primary);
        }
      }

      .testimonial-card {
        flex: 1 0 min(20vw, 320px);
        .Team-testimonials-card {
          width: calc(100% - 64px);
          margin-left: 32px;
          align-items: center;

          .se-image {
            width: 40%;
            border-radius: 50%;
            object-fit: cover;
          }
        }
      }
    }

    #Team-testimonials-background-img {
      position: absolute;
      width: 100vw;
      height: auto;
      z-index: -1;
    }
  }
}
