#Home #News {
  @include page;
  background: var(--se-black);
  @include flex-vertical-left;
  position: relative;

  #News-content {
    @include flex-left;
    align-items: flex-start;
    width: 100vw;
    margin-left: calc(-1 * max(96px, calc(50vw - 500px)));
    overflow-x: auto;

    @include mobile {
      margin-left: -16px;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      z-index: 2;
      width: max(96px, calc(50vw - 500px));
      background: linear-gradient(
        to right,
        var(--se-black),
        rgba(33, 36, 41, 0)
      );

      @include mobile {
        width: 16px !important;
      }
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      z-index: 2;
      width: max(96px, calc(50vw - 500px));
      background: linear-gradient(
        to left,
        var(--se-black),
        var(--se-transparent)
      );

      @include mobile {
        width: 16px !important;
      }
    }

    .News-content-spacer {
      width: max(96px, calc(50vw - 500px)) !important;
      flex-shrink: 0;

      @include mobile {
        width: 16px !important;
      }
    }

    .News-article {
      @include flex-vertical-left;
      flex: 1 0 250px;
      margin-right: 32px;

      .se-image {
        width: calc(100% + 32px);
        margin-left: -16px;
        margin-top: -16px;
        height: 192px;
        object-fit: cover;
      }

      .News-article-publication {
        @include flex-left;
        white-space: nowrap;
        font-size: 14px;

        .News-article-publisher {
          color: var(--se-blue-primary);
          font-size: 14px;
          font-weight: 700;
        }

        .News-article-date {
          font-size: 14px;
        }
      }

      .News-article-header {
        font-weight: 800;
        font-size: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
      }

      .News-article-body {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4; /* number of lines to show */
        -webkit-box-orient: vertical;
      }

      > .se-external-link {
        width: 100%;
        .se-button {
          background: var(--se-blue-primary);
          color: var(--se-white);
          padding: 12px;
        }
      }
    }
  }

  > .se-button {
    margin: 24px auto;
  }
}
