#Carousel {
  height: 16vw;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-end;
  transform: translateY(8vw);
  @include fade-in(1s, 0.2s);

  .se-image {
    position: relative;
    object-fit: cover;
    border: clamp(4px, 0.64vw, 8px) solid var(--se-white);
    border-radius: 50%;
    box-shadow: var(--se-shadow-medium);
    width: clamp(96px, 16vw, 20%);

    &.focus {
      width: clamp(96px, 32vw, 40%);
    }
  }
}
