#Volunteer {
  @include page;
  background: var(--se-white);
  @include flex-vertical-left;

  #Volunteer-content {
    @include flex-center;
    width: 100%;
    justify-content: space-around;
    align-items: flex-start;
    > div {
      @include flex-vertical-center;
      margin: 0 8px;
      .se-text {
        width: 100%;
      }
      .se-image {
        width: clamp(96px, 24vw, 320px);
        height: clamp(96px, 24vw, 320px);
        object-fit: cover;
        border-radius: 50%;
        box-shadow: var(--se-shadow-medium);
      }
      .se-button {
        padding: 12px 24px;
      }
    }

    @include mobile {
      @include flex-vertical-center;
      > div {
        margin: 0 0 32px 0;
        .se-image {
          width: 72vw;
          height: 72vw;
        }
      }
    }
  }

  .se-button {
    margin: 24px auto;
  }
}
