#Impact {
  @include page;
  background: var(--se-green-gradient);
  @include flex-vertical-left;
  text-align: center;

  #Impact-title {
    width: 100%;
    letter-spacing: 0.8px;
  }

  #Impact-content {
    @include flex-vertical-center;
    overflow-x: hidden;
    width: 100%;

    .Impact-content-chunk {
      @include flex-vertical-center;
      width: 100%;
      margin: 0 8px;
      transition: opacity 0.2s ease;
      padding: 72px 0;
      opacity: 0.4;

      &.focused {
        opacity: 1;
        cursor: default;
      }

      @include mobile {
        opacity: 1;
        padding: 24px 0;
        margin: 0;
      }

      .se-text {
        &.primary-header {
          font-size: clamp(10px, 8vw, 120px);
          text-shadow: 0 clamp(4px, 0.72vw, 36px) clamp(4px, 0.72vw, 36px)
            var(--se-black-transparent);
          font-weight: 900;
          white-space: nowrap;

          @include mobile {
            font-size: clamp(10px, 10vw, 120px);
          }
        }
        &.small-header {
          font-size: clamp(20px, 2vw, 48px);
          text-transform: uppercase;
        }
        &.paragraph {
          max-width: min(72%, 800px);

          @include mobile {
            max-width: 84%;
          }
        }
      }
      .se-image {
        width: clamp(96px, 16vw, 320px);
        height: clamp(96px, 16vw, 320px);
        object-fit: contain;
        filter: drop-shadow(var(--se-shadow-large));
      }
    }

    @include mobile {
      @include flex-vertical-center;
      > div {
        margin: 0 0 32px 0;
        .se-image {
          width: 72vw;
          height: 72vw;
        }
      }
    }
  }

  .se-button {
    margin: auto;
  }
}
