#Impact {
  @include page;
  background: white;

  #stat-container {
    display: grid;
    /* grid-template-columns: 33% 33% 33%; */
    grid-template-columns: minmax(0, 33%) minmax(0, 33%) minmax(0, 33%);
    gap: 30px;

    .stat-container-col {
      max-width: 320px;

      .stat-img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }

  #cumulative-impact {
    max-width: 100%;
    height: auto;
    margin: auto;
  }

  #Impact-annual-report-section {
    max-width: 350px;
    margin: auto;
  }

  #Impact-metric-section {
    /* max-width: 580px; */
    max-width: 70%;
    margin: auto;
    #Impact-metric-section-img {
      max-width: 100%;
      margin: auto;
    }
  }
}
