@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --se-transparent: rgba(255, 255, 255, 0);
  --se-black: rgba(33, 36, 41, 1);
  --se-black-transparent: rgba(0, 0, 0, 0.2);
  --se-grey-dark: rgba(83, 87, 90, 1);
  --se-grey-primary: rgba(157, 161, 164, 1);
  --se-grey-light: rgba(230, 232, 234, 1);
  --se-white: rgba(255, 255, 255, 1);
  --se-white-transparent: rgba(255, 255, 255, 0.2);
  --se-green-gradient: linear-gradient(
    to bottom right,
    rgba(123, 218, 83, 1),
    rgba(62, 113, 40, 1)
  );
  --se-green-primary: rgba(78, 165, 40, 1);
  --se-green-transparent: rgba(78, 165, 40, 0.2);
  --se-blue-primary: rgba(78, 108, 231, 1);
  --se-red-primary: rgba(216, 73, 16, 1);
  --se-green-light: rgba(227, 247, 222, 1);
  --se-blue-light: rgba(227, 235, 255, 1);
  --se-red-light: rgba(255, 231, 221, 1);
  --se-green-dark: rgba(33, 104, 16, 1);
  --se-blue-dark: rgba(21, 52, 180, 1);
  --se-red-dark: rgba(176, 57, 10, 1);
  --font-body: 'Montserrat';
  --font-header: 'Montserrat';
}

// START: SASS mixins

@mixin ellipsis {
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  min-width: 0 !important;
  display: block !important;
}

@mixin hover {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      &:not(:disabled) {
        @content;
      }
    }
  }
}

@mixin active {
  &:active {
    &:not(:disabled) {
      @content;
    }
  }
}

@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 600px) {
    @content;
  }
}
// END: SASS mixins

@import './Button/Button.scss';
@import './Image/Image.scss';
@import './Input/Input.scss';
@import './Spacer/Spacer.scss';
@import './Text/Text.scss';
