#Solution {
  @include page;
  @include flex-right;
  background: var(--se-black);
  padding: 96px 64px;
  overflow: hidden;

  #Solution-background {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    filter: brightness(0.8);

    .se-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include mobile {
        filter: brightness(0.8);
      }
    }
  }
  #Solution-content {
    @include flex-vertical-right;
    z-index: 2;
    width: clamp(300px, 36%, 500px);
    padding: 48px 24px;
    box-shadow: var(--se-shadow-large);

    @include mobile {
      padding: 32px 16px;
      background: none;
      .primary-header {
        background: var(--se-green-primary);
        margin: 4px 0;
        padding: 1px 4px;
        box-shadow: var(--se-shadow-medium);
      }
    }
  }
}
