#Problem {
  @include page;
  padding-top: 64px;

  @include mobile {
    padding-top: 32px;
  }

  #Problem-content {
    @include flex-center;

    > * {
      text-align: center;
    }

    #Problem-content-left,
    #Problem-content-right {
      width: 40%;
      flex-shrink: 0;
      .primary-header {
        font-size: clamp(48px, 6vw, 180px);
        white-space: nowrap;
        background: var(--se-green-primary);
      }
      .subheader {
        font-size: clamp(16px, 1.8vw, 180px);
        white-space: nowrap;
      }
    }

    #Problem-content-center {
      width: 20%;
      flex-shrink: 1;
      .se-text {
        font-weight: 900;
      }
    }

    @include mobile {
      @include flex-vertical-center;

      #Problem-content-left,
      #Problem-content-right {
        width: 80%;
      }

      #Problem-content-center {
        padding: 24px 0;
      }
    }
  }

  .se-button {
    display: block;
    margin: auto;
  }
}
