@import 'components/Home/Splash/Splash.scss';
@import 'components/Home/Problem/Problem.scss';
@import 'components/Header/Header.scss';
@import 'components/Home/Solution/Solution.scss';
@import 'components/Home/Impact/Impact.scss';
@import 'components/Home/News/News.scss';
@import 'components/Home/Volunteer/Volunteer.scss';
@import 'components/Home/Donate/Donate.scss';
@import 'components/Footer/Footer.scss';
@import 'components/About/About.scss';
@import 'components/News/News.scss';
@import 'components/PageHeader/PageHeader.scss';
@import 'components/Contact/Contact.scss';
@import 'components/Banner/Banner.scss';
@import 'components/Campus/Campus.scss';
@import 'components/Team/Team.scss';
@import 'components/Partners/Partners.scss';
@import 'components/Impact/Impact.scss';
@import 'components/WaveBackground/WaveBackground.scss';
@import 'components/Volunteer/Volunteer.scss';
