@import '@fortawesome/fontawesome-svg-core/styles.css';
@import '@sharingexcess/designsystem/build/index.scss';

:root {
  --se-min-page-width: 300px;
}

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  min-width: var(--se-min-page-width);
  font-size: 16px;
  font-family: var(--font-body);
  background: var(--se-white);
  color: var(--se-black);
  padding: var(--page-margin);
  overflow-y: auto;
  border-radius: 0;
  font-family: var(--font-body), -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img,
svg {
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

a {
  color: unset;
  text-decoration: unset;
}

@mixin hover {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      &:not(:disabled) {
        @content;
      }
    }
  }
}

@mixin active {
  &:active {
    &:not(:disabled) {
      @content;
    }
  }
}

@mixin ellipsis {
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  min-width: 0 !important;
}

@mixin fade-in($time: 0.2s, $delay: 0s) {
  opacity: 0;
  animation: fade-in $time ease forwards $delay;

  @keyframes fade-in {
    to {
      opacity: 1;
    }
  }
}

@mixin slide-in($x: -64px, $y: 0, $time: 1s) {
  opacity: 0;
  transform: translate($x, $y);
  animation: slide-in $time ease forwards;

  @keyframes slide-in {
    to {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
}

@mixin flex-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@mixin flex-vertical-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@mixin flex-vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-vertical-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

@mixin page {
  // Page views should have 96px on top and bottom,
  // and at least 64px on left and right.
  // For large window sizes, we want to constrain the content
  // to the center 1200px. Therefore, our max padding is
  // 50vw - 600px on the left and right,
  // which is half the difference between the
  // window width, and 1200px
  padding: 96px max(64px, calc(50vw - 600px));
  position: relative;
  @include mobile {
    padding: 48px 16px;
  }
}

@import './components.scss';
