#About {
  @include page;

  .paragraph {
    font-size: 16px;
    line-height: 1.6;
  }

  .About-content-section {
    padding: 128px 0;
    position: relative;

    .About-background-wave-img {
      position: absolute;
      width: 100vw;
      height: auto;
      margin-left: calc(-1 * max(96px, calc(50vw - 500px)));

      @include mobile {
        /* height: 150vw; */
        height: 600px;
        width: 100vw;
        object-fit: cover;
        margin: auto;
      }
    }

    .se-spacer {
      flex-shrink: 0;
    }

    .About-content-section-img {
      height: 32vh;
      max-width: 50%;
      object-fit: cover;
      @include mobile {
        width: 100%;
        max-width: 100%;
        object-fit: cover;
        height: unset;
      }
    }

    .underline {
      text-decoration: underline;
    }
  }

  #About-section-buttons {
    .se-button {
      margin: 8px 16px;
      flex-grow: 1;
    }
  }

  #About-small-header {
    text-transform: uppercase;
    font-weight: 800;
    @include desktop {
      font-size: 22px;
    }
  }

  #About-mission-section {
    max-width: 520px;
    margin: auto;
    #diagram-image {
      align-self: center;
      width: 100%;
      margin: auto;
    }
  }
}
