#About {
  @include page;

  .paragraph {
    font-size: 18px;
    line-height: 1.6;
  }

  .About-content-section {
    .se-spacer {
      flex-shrink: 0;
    }
    .se-image {
      height: 32vh;
      max-width: 50%;
      object-fit: cover;
      @include mobile {
        width: 100%;
        max-width: 100%;
        object-fit: cover;
        height: unset;
      }
    }

    .green {
      color: var(--se-green-primary);
      font-weight: 700;
    }

    .underline {
      text-decoration: underline;
    }
  }

  #About-section-buttons {
    .se-button {
      margin: 8px 16px;
      flex-grow: 1;
    }
  }

  #About-section-header {
    position: relative;
    width: 100%;
    height: 48vh;
    .se-image {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      filter: brightness(0.5);
    }
  }

  #About-team {
    position: relative;
    width: 100%;

    .About-team-members {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(192px, 1fr));
      grid-gap: 32px;
      justify-content: space-between;
      flex-wrap: wrap;

      @include mobile {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      }

      .About-team-person {
        text-align: center;
        .subheader {
          font-weight: 700;
        }
        .se-image {
          width: 100%;
          border-radius: 50%;
          border: 6px solid var(--se-white);
          object-fit: cover;
          box-shadow: var(--se-shadow-medium);
          &.yellow {
            border-color: rgba(255, 209, 81, 1);
          }
          &.orange {
            border-color: rgba(247, 155, 42, 1);
          }
          &.blue {
            border-color: rgba(151, 207, 195, 1);
          }
          &.green1 {
            border-color: rgba(148, 202, 145, 1);
          }
          &.green2 {
            border-color: rgba(63, 154, 41, 1);
          }
          &.green3 {
            border-color: rgba(50, 119, 34, 1);
          }
        }
      }
    }

    #About-team-volunteer {
      @include flex-center;
      width: 100%;
      justify-content: space-around;
      align-items: flex-start;
      > div {
        @include flex-vertical-center;
        margin: 0 8px;
        .se-text {
          width: 100%;
        }
        .se-image {
          width: clamp(96px, 24vw, 320px);
          height: clamp(96px, 24vw, 320px);
          object-fit: cover;
          border-radius: 50%;
          box-shadow: var(--se-shadow-medium);
        }
        .se-button {
          padding: 8px 16px;
        }
      }

      @include mobile {
        @include flex-vertical-center;
        > div {
          margin: 0 0 32px 0;
          .se-image {
            width: 72vw;
            height: 72vw;
          }
        }
      }
    }
  }

  #About-app-video {
    width: 100%;
  }
}
